# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Tags
tags
TAGS

# CMake related files & folders
CMakeBuild/
CMakeFiles/
*.TMP

# Visual Studio project related files & folders
*.sln
*.vcxproj
*.vcxproj.*
*.VC.opendb
*.VC.db
/Release*
/Debug*
/.vs
/bin
